@charset "UTF-8";
/*Importación de partials*/
/*Header*/
/*Variables*/
/*Listas*/
/*Colores*/
/*Mixins*/
/*Mapas*/
* {
  margin: 0;
  padding: 0;
}

@media screen and (min-width: 0px) {
  .logo {
    width: 50px;
  }
}
@media screen and (min-width: 480px) {
  .logo {
    width: 55px;
  }
}
@media screen and (min-width: 720px) {
  .logo {
    width: 60px;
  }
}
@media screen and (min-width: 960px) {
  .logo {
    width: 70px;
  }
}
@media screen and (min-width: 720px) {
  .logo {
    width: 80px;
  }
}

.list-menu {
  font-size: 20px;
  font-family: "Inter", sans-serif;
}
.list-menu:hover {
  text-shadow: 0 0 1rem white, 0 0 1rem white, 0 0 1rem white;
  color: white;
}

.bg-nav-scroll {
  background-color: #202E8F;
}

/*Carrusel*/
/*Seccion 1 - Nosotros*/
/*Listas*/
/*Colores*/
/*Variables*/
#nosotros .container-seccion-1 {
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  flex-wrap: wrap;
  /*Media Query Cel*/
}
@media screen and (min-width: 0px) {
  #nosotros .container-seccion-1 {
    flex-direction: row;
    align-items: center;
    margin: 1rem 0 0 2rem;
  }
}
#nosotros .container-seccion-1 .img-titulo path {
  stroke: #000942;
  fill: #000942;
  stroke-dasharray: 700;
  opacity: 10;
  animation: animate 8s cubic-bezier(0, 0.23, 1, 0.1);
}
@keyframes animate {
  0% {
    opacity: 0;
    fill: none;
    stroke-dashoffset: 700;
  }
  30% {
    opacity: 3.333;
    fill: none;
    stroke-dashoffset: 700;
  }
  90% {
    fill: none;
    opacity: 6.66666;
  }
  100% {
    opacity: 10;
    fill: #000942;
    stroke-dashoffset: 0;
  }
}
#nosotros .contenedor-seccion-1 {
  display: flex;
}
#nosotros .contenedor-seccion-1 .seccion-1 {
  width: 90%;
  margin: 1rem 0.5rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  /*Media Query Cel*/
}
@media screen and (min-width: 0px) {
  #nosotros .contenedor-seccion-1 .seccion-1 {
    width: 100%;
  }
}
#nosotros .contenedor-seccion-1 .seccion-1 .titulo-pagina {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 2rem;
}
#nosotros .contenedor-seccion-1 .seccion-1 .parrafo {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin: 5% 8%;
}
#nosotros .contenedor-seccion-1 .seccion-1 .seccion-1-item {
  width: 50%;
}

/*Seccion 2 - Bandas*/
/*Mixins*/
/*Variables*/
/*Mapas*/
#bandas .contenedor {
  margin-top: 5%;
  margin-left: 5%;
}
#bandas .contenedor .titulo-seccion {
  font-size: 40px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
#bandas .contenedor .parrafo {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin: 5% 0;
}
#bandas .contenedor-bandas {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#bandas .contenedor-bandas .wrapper {
  display: flex;
  width: 90%;
  justify-content: space-around;
  flex-wrap: wrap;
}
#bandas .contenedor-bandas .wrapper .card {
  width: 400px;
  height: 500px;
  padding: 2rem 1rem;
  background: #FFFFFF;
  position: relative;
  display: flex;
  align-items: flex-end;
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
}
#bandas .contenedor-bandas .wrapper .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
#bandas .contenedor-bandas .wrapper .card .info {
  position: relative;
  z-index: 3;
  color: #FFFFFF;
  opacity: 0;
  transform: translateY(30px);
  transition: 0.5s all;
}
#bandas .contenedor-bandas .wrapper .card .info h3 {
  margin: 0;
}
#bandas .contenedor-bandas .wrapper .card .info p {
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 8px;
  margin-top: 20px;
}
#bandas .contenedor-bandas .wrapper .card .info .btn {
  text-decoration: none;
  padding: 0.5rem 1rem;
  background: #F41DE8;
  font-size: 14px;
  font-weight: 700;
  color: #FFFFFF;
  cursor: pointer;
  transition: 0.4s ease-in-out;
}
#bandas .contenedor-bandas .wrapper .card .info .btnhover {
  box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
}
#bandas .contenedor-bandas .wrapper .card:hover {
  transform: translateY(20px);
}
#bandas .contenedor-bandas .wrapper .card:hover .info {
  opacity: 1;
  transform: translateY(0);
}
#bandas .contenedor-bandas .wrapper .card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(32, 46, 143, 0.5), rgba(79, 111, 190, 0.5));
  z-index: 2;
  transition: 0.5s all;
  opacity: 1;
}
#bandas .contenedor-bandas .wrapper .card::beforehover {
  opacity: 1;
}

/*Seccion 3 - Desfiles*/
/*Variables*/
/*Listas*/
/*Colores*/
.wave {
  display: block;
  height: 300px;
  background-image: url(../../assets/bg/wave.svg);
  background-repeat: repeat-x;
  background-size: cover;
  background-position: center center;
}

#desfiles, .contenedor-desfile {
  margin-left: 0;
  background-color: #4F6FBE;
}
#desfiles .titulo-seccion, .contenedor-desfile .titulo-seccion {
  font-size: 40px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
  margin-left: 5%;
}
#desfiles .container .row-margin, .contenedor-desfile .container .row-margin {
  margin: 2rem 0;
}
#desfiles .container .row-margin .img-seccion-3, .contenedor-desfile .container .row-margin .img-seccion-3 {
  width: 90%;
  margin: 0.3rem;
}
#desfiles .container .row-margin .parrafo, .contenedor-desfile .container .row-margin .parrafo {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin: 5% 0;
}
#desfiles .container .row-margin, .contenedor-desfile .container .row-margin {
  margin: 2rem 0;
}
#desfiles .container .row-margin .parrafo, .contenedor-desfile .container .row-margin .parrafo {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin: 5% 0;
}
#desfiles .container .row-margin .img-seccion-3, .contenedor-desfile .container .row-margin .img-seccion-3 {
  width: 90%;
  margin-bottom: 10%;
  margin-top: 0.3rem;
}

/*Seccion 4 - Galeria*/
/*Mixins*/
/*Variables*/
#galeria div .contenedor {
  margin-top: 5%;
  margin-left: 5%;
}
#galeria div .contenedor .titulo-seccion {
  font-size: 40px;
  font-weight: 600;
  font-family: "Raleway", sans-serif;
}
#galeria div .contenedor .parrafo {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  margin: 5% 0;
}
#galeria div .container-seccion-2 {
  display: flex;
}
#galeria div .container-seccion-2 .seccion-2 {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: none;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}
#galeria div .container-seccion-2 .seccion-2 div .seccion-2-item {
  width: 50vh;
  transition: all 0.5s;
  margin: 1rem 2rem;
  /*Medias Query cel*/
}
@media screen and (max-width: 480px) {
  #galeria div .container-seccion-2 .seccion-2 div .seccion-2-item {
    width: 80%;
  }
}

/*Listas*/
/*Colores*/
/*Mixins*/
/*Variables*/
/*Seccion 5 - Contacto*/
#contacto {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
}
#contacto .img-contacto {
  position: relative;
  width: 50%;
  height: 100%;
  /*Media Query Tablet y Cel*/
}
#contacto .img-contacto img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#contacto .img-contacto:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, rgba(108, 32, 143, 0.5), rgba(204, 238, 124, 0.5));
  z-index: 1;
  mix-blend-mode: screen;
}
@media screen and (max-width: 720px) {
  #contacto .img-contacto {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
#contacto .content-contacto {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  width: 50%;
  height: 100%;
  /*Media Query Tablet y Cel*/
}
#contacto .content-contacto .form-contacto {
  width: 50%;
  /*Media Query Tablet y Cel*/
}
@media screen and (max-width: 720px) {
  #contacto .content-contacto .form-contacto {
    width: 100%;
    padding: 50px;
    background: #FFFFFF;
    margin: 50px;
  }
}
#contacto .content-contacto .form-contacto h2 {
  font-weight: 600;
  color: #000000;
  font-size: 1.5em;
  margin-bottom: 20px;
  display: inline-block;
  letter-spacing: 1px;
  border-bottom: 4px solid #D6D32B;
}
#contacto .content-contacto .form-contacto .input-contacto {
  margin-bottom: 20px;
}
#contacto .content-contacto .form-contacto .input-contacto span {
  font-size: 16px;
  margin-bottom: 5px;
  display: inline-block;
  color: #000942;
  font-weight: 300;
  letter-spacing: 1px;
}
#contacto .content-contacto .form-contacto .input-contacto input {
  width: 100%;
  padding: 10px 20px;
  outline: none;
  font-weight: 400;
  border: 1px solid #000942;
  font-size: 16px;
  letter-spacing: 1px;
  color: #000942;
  background: transparent;
  border-radius: 20px;
}
#contacto .content-contacto .form-contacto .input-contacto input[type=submit] {
  background: #F41DE8;
  color: #FFFFFF;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
}
#contacto .content-contacto .form-contacto .input-contacto input[type=submit]:hover {
  background: #D6D32B;
  color: #000000;
}
#contacto .content-contacto .form-contacto .input-contacto p a {
  color: #F41DE8;
}
#contacto .content-contacto .form-contacto .input-contacto p a:hover {
  color: #D6D32B;
}
#contacto .content-contacto .form-contacto .newsletter {
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 14px;
}
@media screen and (max-width: 720px) {
  #contacto .content-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
}

/*Footer*/
/*Variables*/
/*Mixins*/
footer {
  width: 100%;
  padding: 50px 0px;
  background-image: url(../../assets/bg/wave.svg);
  background-size: cover;
}
footer .container-footer {
  display: flex;
  justify-content: space-between;
  align-items: none;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: auto;
  margin-top: 100px;
  /*Primera columna footer*/
  /*Segunda columna footer*/
  /*Tercera columna footer*/
}
footer .container-footer .box-footer {
  display: flex;
  flex-direction: column;
  padding: 40px;
}
footer .container-footer .box-footer img {
  width: 80px;
}
footer .container-footer .box-footer .description {
  max-width: 350px;
  margin-top: 20px;
  font-weight: 500;
  font-size: 1.3rem;
  color: #000942;
}
footer .container-footer .box-footer h2 {
  margin-bottom: 30px;
  font-weight: 700;
  color: #000942;
}
footer .container-footer .box-footer a {
  margin-top: 10px;
  color: #000942;
  font-weight: 600;
  text-decoration: none;
}
footer .container-footer .box-footer a:hover {
  opacity: 0.8;
}
footer .container-footer .box-footer a {
  margin-top: 10px;
  color: #000942;
  font-weight: 600;
  text-decoration: none;
}

/*Variables*/
/*Listas*/
/*Colores*/
/*Extends*/
/*Mixins*/
/*Mapas*/

/*# sourceMappingURL=style.css.map */
