@import '../base/listas';
@import '../base/mixins';
@import '../base/variables';

/*Seccion 5 - Contacto*/
#contacto{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;

    .img-contacto{
        position: relative;
        width: 50%;
        height: 100%;

        img{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(to bottom, rgba(108, 32, 143, 0.5), rgba(204, 238, 124, 0.5));
            z-index: 1;
            mix-blend-mode: screen;
        }



        /*Media Query Tablet y Cel*/
        @media  screen and (max-width: 720px) {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
         }
    }

    .content-contacto{
       @include flex(center,center,nowrap);
        width: 50%;
        height: 100%;

        .form-contacto{
            width: 50%;

             /*Media Query Tablet y Cel*/
        @media  screen and (max-width: 720px) {
            width: 100%;
            padding: 50px;
            background: nth($color,7);
            margin: 50px;
         }

            h2{
                font-weight: 600;
                color: nth($color,6);
                font-size: 1.5em;
                margin-bottom: 20px;
                display: inline-block;
                letter-spacing: 1px;
                border-bottom: 4px solid nth($color,5);
            }

            .input-contacto{
                margin-bottom: 20px;

                label{
                    font-size: 16px;
                    margin-bottom: 5px;
                    display: inline-block;
                    color: nth($color,2);
                    font-weight: 300;
                    letter-spacing: 1px;
                }

                input{
                    width: 100%;
                    padding: 10px 20px;
                    outline: none;
                    font-weight: 400;
                    border: 1px solid nth($color, 2);
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: nth($color, 2);
                    background: transparent;
                    border-radius: 20px;

                    &[type="submit"]{
                        background: nth($color,1);
                        color: nth($color,7);
                        outline: none;
                        border: none;
                        font-weight: 500;
                        cursor: pointer;


                        &:hover{
                            background: nth($color,5);
                            color: nth($color,6);
                        }
                    }
                }

                textarea{
                    width: 100%;
                    padding: 10px 20px;
                    outline: none;
                    font-weight: 400;
                    border: 1px solid nth($color, 2);
                    font-size: 16px;
                    letter-spacing: 1px;
                    color: nth($color, 2);
                    background: transparent;
                    border-radius: 20px;
                }

                p{
                    a{
                        color: nth($color,1);

                        &:hover{
                            color: nth($color,5);
                        }
                    }
                   
                }
               
            }



            .newsletter{
                margin-bottom: 10px;
                font-weight: 400;
                font-size: 14px;
            }
        }

       
        /*Media Query Tablet y Cel*/
        @media  screen and (max-width: 720px) {
           @include flex(center,center,nowrap);
           width: 100%;
           height: 100%;
           z-index: 1;

         }

        

    }
}