/*Contacto*/
#contacto{
    .container-seccion-1{
        display: flex;
    
        margin-top: 5%;
        margin-left: 5%;
        flex-wrap: wrap;
        .seccion-1{
            width: 50%;
            margin: 1rem 0.5rem;
            .titulo-seccion{
                font-size: 40px;
                font-weight: 600;
                font-family: 'Raleway', sans-serif;

            }

            .parrafo, .inline{
                width: 95%;
                font-family: 'Inter', sans-serif;
                font-size: 20px;
                margin: 5% 0;
            }
        }

        div{
            .seccion-1-item{
                width: 50%;

            }
        }
    }
}