/*Seccion 4 - Galeria*/
@import '../base/mixins';
@import '../base/variables';

#galeria{
    div{
        
        .contenedor{
            margin-top: 5%;
            margin-left: 5%;
           
            
            .titulo-seccion{
                
                font-weight: 600;
                font-family: $font-ppal;
                @include xs{
                    font-size: 25px;
                }
                @include md{
                    font-size: 30px;
                }
                @include xl{
                    font-size: 40px;
                }  
            }

            .sub-titulo-seccion{
                font-size: 25px;
                font-weight: 700;
                font-family: $font-ppal;  
            }

            .parrafo{
                font-family: $font-sec;
                margin: 5% 0;
                @include xs{
                    font-size: 18px;
                }
                @include md{
                    font-size: 20px;
                }
                @include xl{
                    font-size: 22px;
                }

            }
        }

        .container-seccion-2{
            display: flex;
            .seccion-2{
                width: 100%;
                @include flex(space-around,none,wrap);
                
                margin-bottom: 1.5rem;
                div{
                    .seccion-2-item{
                        width: 50vh;
                        transition: all 0.5s;
                        margin: 1rem 2rem;

                        /*Medias Query cel*/
                        @media  screen and (max-width: 480px) {
                            width: 80%;
                         }

                    }
                }
            }
        }
    }
}