/*Seccion 1 - Nosotros*/
@import '../base/listas';
@import '../base/variables';
@import '../base/mapas';

#nosotros{
    .container-seccion-1{
        display: flex;
    
        margin-top: 5%;
        margin-left: 5%;
        flex-wrap: wrap;

         /*Media Query Cel*/
         @include xs{
            flex-direction: row;
            align-items: center;
            margin: 1rem 0 0 2rem;

        } 
        .img-titulo{
            path{
                stroke: nth($color,2);
                fill: nth($color,2);
                stroke-dasharray: 700;
                opacity: 10;
                animation: animate 8s cubic-bezier(0, 0.23, 1, 0.1);
            }
            @keyframes animate {
                0% {
                    opacity: 0;
                    fill: none;
                    stroke-dashoffset: 700;
                }
            
                30% {
                    opacity: 3.333;
                    fill: none;
                    stroke-dashoffset: 700;
                }
            
                90% {
                    fill: none;
                    opacity: 6.66666;
                }
            
                100% {
                    opacity: 10;
                    fill: nth($color,2);
                    stroke-dashoffset: 0;
                }
            }

        }
        
       
        
         
    }
    .contenedor-seccion-1{
        display: flex;
        .seccion-1{
            width: 90%;
            margin: 1rem 0.5rem;
            @include flex(space-evenly,center,wrap);
             /*Media Query Cel*/
            @include xs{
                width: 100%;
            }
            .titulo-pagina{
                font-family: $font-ppal;
                font-weight: 800;
                @include xs{
                    font-size: 25px;
                }
                @include md{
                    font-size: 30px;
                }
                @include xl{
                    font-size: 40px;
                }
            }
            .parrafo{
                font-family: $font-sec;
                margin: 5% 8%;
                @include xs{
                    font-size: 18px;
                }
                @include md{
                    font-size: 20px;
                }
                @include xl{
                    font-size: 22px;
                }
            }
            .seccion-1-item{
                width: 50%;
            }

           
            
        }
    }

}