/*Mixins*/
@mixin flex($eje-principal,$eje-secundario,$wrap) {
    display: flex;
    justify-content: $eje-principal;
    align-items: $eje-secundario;
    flex-wrap: $wrap;
}

@mixin grid($columns,$rows,$gap,$row-gap) {
    display: grid;
    grid-template-columns: $columns;
    grid-template-rows: $rows;
    grid-column-gap: $gap;
    grid-row-gap: $row-gap;
    
}